[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {version = "==5.3.4", extras = ["redis"]}
Django = "~=4.2"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = { version = "~=5.3", extras = ["crypto"] }
gunicorn = "==21.2.0"
psycopg2-binary = "~=2.9.9"
pydantic = "~=2.4"
requests = "~=2.31"

[dev-packages]
black = "~=23.7"
django-stubs = "~=1.2"
grequests = "*"
ipdb = "*"
isort = "~=5.12"
mypy = "~=1.5"
pympler = "~=1.0"
ruff = "~=0.0.291"

[requires]
python_version = "3.11"

[scripts]
app = "python src/manage.py runserver"
